#pointers{
 /*   display: flex;
    flex-direction: column;
    position:fixed;
    /* transform: translateX(-45vw); 
    z-index: 2;
    /* left:0; 
    background-color: black;
    box-shadow: 10px 10px 8px 10px #888888;
    /* padding:10px 10px;
    margin:30vh 20px; 
    border-radius: 30px;
    */
    display: none;
}
.object{
    /* z-index: 2; */
    /* height: max-content; */
    font-size: 25px;
    padding:0px 0px;
    margin:15px auto;
    color:white;
    /* transform: translateY(3px); */
    transition: 0.8s;
    /* border-radius: 50%; */
}
.object:hover{
    color:black;
    background-color: white;
}

@media screen and (max-width:600px) {
    #pointers{
        display: flex;
        /* flex-direction: column; */
        position:fixed;
        background-color: black;
        border-radius: 30px;
        flex-direction: row;
        z-index: 2;
        /* transform: translateX(30%); */
        bottom: 3vh;
        left:20%;
        padding: 1px 5px;
        box-shadow: 7px 7px 8px  #888888;
        justify-content: center;
        align-items: center;
    }
    .object{
        margin:0 10px;
        padding:2px 2px;
    }
}