.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    padding:10% 0;
}
.profile h1{
    text-align: center;
    margin-bottom: 2%;
}
.profile-container{
    display: flex;
    flex-direction:row;
    /* border:2px solid black; */
    justify-content: space-evenly;
    align-items: center;
    width:1000px; 
}
.profile-img{
    width:300px; 
    height:300px;
    margin:20px 20px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("./Card1.png") ;
    border:1px solid black;

}
.profile-left th,.profile-left td{
    width:200px;
    font-size :20px;
    border:1px solid black;
    height: 30%;
    text-align: left;
    
}
.profile-left th{
    border:none;
}
.profile-left td{
    background-color: grey;
    width:200px;
    height: 40px;
    color:white;
    padding-left:10px;
    opacity: 0.7;

}
.profile-left table{
    border-collapse:separate;
    border-spacing: 20px 40px;
}


.profile-edit-button button{
    font-size:20px;
    padding:5px 20px;
    background-color: rgb(74, 74, 74);
    color:white;
    border-radius:5px;

}

.profile-edit-button button:hover{
    cursor:pointer;
    box-shadow: 2px 2px #363030;
    background-color: #363030;
}

.profile-edit-button{
    /* margin:50px 0; */
}

@media screen and (max-width:800px) {
    .profile-container{
        flex-direction:column-reverse;
        width:100%;
    }
    .profile-img{
        width:150px;
        height:150px;
    }
    .profile-left table{
        /* border-collapse:separate; */
        border-spacing: 40px 10px;
    }
    .profile-left td,.profile-left th{
        font-size: small;
    }
    .profile-edit-button button{
        padding:2px 30px;
    }
    .profile-edit-button{
        margin:20px 0;
    }
}