.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    padding:10% 0;
}
.profile h1{
    text-align: center;
    margin-bottom: 2%;
}
.profile-container{
    display: flex;
    flex-direction:row;
    /* border:2px solid black; */
    justify-content: space-evenly;
    align-items: center;
    width:1000px;
}
.profile-img-edit{
    width:300px;
    height:300px;
    margin:20px 20px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("../Profile/Card1.png") ;
    border:1px solid black;

}
.profile-left-o th{
    width:200px;
    font-size :20px;
    border:1px solid black;
    height: 30%;
    text-align: left;
    
}
.profile-left-o th{
    border:none;
}

.profile-left-o table{
    border-collapse:separate;
    border-spacing: 0px 2px;
}
.profile-img-but {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:40px 0;
}
.set-edit{

    width:200px;
    font-size :20px;
    border:1px solid black;
    text-align: left;
    background-color: grey;

    height: 40px;
    color:white;
    padding-left:10px;
    opacity: 0.7;
}

.profile button{
    font-size:20px;
    padding:5px 20px;
    background-color: rgb(74, 74, 74);
    color:white;
    border-radius:5px;

}

.profile button:hover{
    cursor:pointer;
    box-shadow: 2px 2px #363030;
    background-color: #363030;
}

.profile-edit-button{
    margin:50px 0;
}

@media screen and (max-width:800px) {
    .profile-container{
        flex-direction:column-reverse;
        width:100%;
    }
    .profile-img{
        width:150px;
        height:150px;
    }
    .profile-left-o table{
        /* border-collapse:separate; */
        border-spacing: 40px 10px;
    }
    .profile-left-o td,.profile-left-o th{
        font-size: small;
    }
    .profile-edit-button button{
        padding:2px 30px;
    }
    .profile-edit-button{
        margin:20px 0;
    }
}