.Setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}
.Setting p{
    margin: 5% auto;
    font-size: xx-large;
}

.main-setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    padding:5% 5%;
    /* width:70%; */
    border:1px solid black;
}

.main-setting button{
    margin:50px auto;
    width:200px;
    height:60px;
    border-radius:10px;
    font-size: large;
    background-color: black;
    color:white;
}