/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.otpForm{
    width: 26rem;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding: 0px 0px;
    text-align: center;
    justify-content: center;
    
}
.otpForm input{
    width: 10vh;
    margin: 11px 11px;
    text-align: center;
}
.otpForm button{
    margin: 2vh;
    width: 80%;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: smaller;
}
p {
    font-size: smaller;
    margin-bottom: 0px;
}