.home-con{
    width:100%;
    height: 100vh;
}
.home{
    width:80%;
    margin:70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-dp{
    height: 50px;
    width:50px;
    background-size: contain;
    overflow: hidden;
    border: 1px solid black;
    border-radius:50%;
}
.card-dp img{
    height: 50px;
    width:50px;
}

.add-card{
    width:98%;
    margin:2% 0;
    margin-bottom: 10px;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;
    /* padding: 1%; */
    border-radius:10px;
    box-shadow: 2px 2px 2px  #888888;
}

.add-card button{
    padding:10px 8px;
    /* width:40px;  */
    background-color:green;
    border:none;

    border-radius: 5px;
    font-size: 15px;
    color:white;
 
}

.type-something{
    display: flex;
    justify-content: center;
    align-items:center;
    width:80%; 
    border:10px;
    margin:0 5px;
    text-align: left;
}
.type-something textarea{
    width:100%;
    height:35px;
    /* border:none; */
    /* justify-content: center; */
    font-size:20px ;
    text-align: left;
    padding:3px 10px;
    opacity:0.3;
}
.feed{
    overflow-y:scroll;
    
}
.feed::-webkit-scrollbar{
    display:none;
}
@media screen and (max-width:900px) {
    .add-card .post{
        font-size:15px;
    }
    .card-dp{
        width:40px;
        height:40px;
    }
    .type-something{
        width:60%;
    }
    .home{
        width:95%;
    }
}